.main_about-container{
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_about-wrapper{
    cursor: pointer;
    width: 80%;
    width: 100%;
    align-items: center;
    margin: 30px;
    transition: all 1s ease;
}

.hoverOnImage{
    position: absolute;
    visibility: hidden;
    z-index: -1;
    bottom: 500px;
    left: -50px;
    opacity: 0;
    transition: all 300ms linear;
}

.main_about-wrapper h2 {
    font-size: 50px;
}

.main_about-wrapper p {
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-weight: 100;
}

.main_about-wrapper a {
    background-color: #002020;
    border: 2px solid black;
    border-radius: 100px;
    display: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    transition: all 1s ease;
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.main_about-wrapper:hover .hoverOnImage{
visibility: visible;
opacity: 1;
}

@media (min-height: 800px){
    .hoverOnImage{
        bottom: 700px;
    }
    
}

@media (max-width: 590px){
    .hoverOnImage{
       display: none;
    }

    .main_about-wrapper a {
        display: flex;
    }
}


@media (min-width: 590px){
    .main_about-wrapper{
        width: 70%;
    }

    .main_about-wrapper h2 {
        font-size: 65px;
    }
    
    .main_about-wrapper p {
        font-size: 40px;
    }
    
}

@media (min-width: 900px){
    .main_about-wrapper{
        width: 50%;
    }

    .main_about-wrapper h2 {
        font-size: 85px;
    }
    
    .main_about-wrapper p {
        font-size: 50px;
    }
    
}