.projects-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-wrapper{
width: 60%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.project{
display: flex;
flex-direction: column;
align-items: center;
margin: 100px;
}

.project p {
    visibility: hidden;
}

.project .project-link{
    font-family: Tangerine;
    font-weight: 100;
    font-size: 150px;
    text-decoration: none;
    color: white;
}


@media (max-width: 768px) {

    .project p {
    visibility: visible;
    }

    .project{
        margin: 100px 50px 50px 50px;
        }
        

    .project .project-link{
        font-size: 90px;
    }
    
}

@media (max-width: 375px) {

    .project{
        margin: 150px 50px 50px 50px;
        }
        

    .project .project-link{
        font-size: 50px;
    }
    
}