.projects-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-wrapper{
display: flex;
justify-content: center;
align-items: center;
}

.project{
display: flex;
flex-direction: column;
align-items: center;
margin: 100px;
}

.project p {
    visibility: hidden;
}

.project .project-link{
    font-family: Tangerine;
    font-weight: 100;
    font-size: 150px;
    text-decoration: none;
    color: white;
}

.w-image,
.ti-image,
.pt-image {
    position: absolute;
    visibility: hidden; 
    z-index: -1;
    bottom: 500px;
    left: 600px;
    opacity: 0;
    transition: all 300ms linear;
}

.whatsmatter:hover .w-image,
.template:hover .pt-image,
.tasks:hover .ti-image {
visibility: visible;
opacity: 0.7;
}

.whatsmatter:hover p,
.template:hover p,
.portfolio:hover p,
.tasks:hover p {
visibility: visible;
opacity: 1;
}


@media (max-width: 768px) {
    .w-image,
    .ti-image,
    .pt-image {
       display: none;
    }

    .whatsmatter p,
    .template p,
    .portfolio p,
    .tasks p {
    visibility: visible;
    }

    .project{
        margin: 100px 50px 50px 50px;
        }
        

    .project .project-link{
        font-size: 90px;
    }
    
}

@media (max-width: 375px) {

    .project{
        margin: 150px 50px 50px 50px;
        }
        

    .project .project-link{
        font-size: 50px;
    }
    
}