.main_projects-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 300px;
}

.Projects-header{
 width: 70%;
 font-size: 20px;
}

.Projects_main-wrapper{
    margin-top: 80px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Projects_photos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolio_template,
.whats_matter,
.task_and_I {
    border-radius: 10px;
    perspective: 1000px;
    margin-top: 20px;
    box-shadow: 0px 2px 30px 11px rgba(0,0,0,0.70);
}


.Projects_description{
    width: 100%;
    height: 50%;
    margin-top: 50px;
    font-size: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Projects_description a {
    background-color: #002020;
    border: 2px solid black;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    transition: all 1s ease;
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.Projects_description a:hover {
    transform: scale(1.1);
}


@media (min-width: 768px){

    .main_projects-container{
        margin-top: 300px;
    }

.Projects_main-wrapper{
        margin-top: 500px;
}


.portfolio_template,
.whats_matter,
.task_and_I {
    position: absolute;
    margin: 30px;
}

.portfolio_template{
   margin-bottom: 300px;
}

.task_and_I{
    margin-top: 300px;
}

.whats_matter{
    margin-left: 300px;
    z-index: 2;
}

.Projects_description{
    margin-top: 330px;
    margin-bottom: 20px;
    font-size: 20px;
}

.Projects-header{
    width: 45%;
    font-size: 30px;
}

}

@media (min-width: 1400px){
    .Projects_main-wrapper{
        margin-top: 50px;
        width: 80%;
        flex-direction: row;
    }

    .Projects_description{
        width: 30%;
        margin-bottom: 150px;
        font-size: 20px;
    }
}

