.footer{
    align-self: center;
    @include createFlex(flex, center, null, column-reverse);
    width: $wrapper-full;
    height: 300px;
    background-color: #101010;
    margin-top: 100px;

    div:last-of-type{
        font-size: pxToRem(100);
        font-family: Tangerine;
        font-weight: 100;
        justify-self: center;
        align-self: center;
    }

    div:first-of-type{
        justify-self: center;
        align-self: center;
        text-align: center;
        margin-top: 20px;
        font-weight: 100;
    }

    div:first-of-type p{
        margin-top: 10px;
    }
} 