.footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 300px;
    background-color: #101010;
    margin-top: 100px;

    div:last-of-type{
        font-size: 100px;
        font-family: Tangerine;
        font-weight: 100;
        justify-self: center;
        align-self: center;
    }

    div:first-of-type{
        justify-self: center;
        align-self: center;
        text-align: center;
        margin-top: 20px;
        font-weight: 100;
    }

    div:first-of-type p{
        margin-top: 10px;
    }
} 