.hero{
    position: absolute;
    perspective: 1000px;
    margin-bottom: 50px;
    }
    
    .StyledHero{
    margin: 80px;
    opacity: 0.9;
    }
    
    .StyledImage{
        margin: 50px;
        box-shadow: 0px 2px 30px 11px rgba(0,0,0,0.70);
    }
    
    .main_text-wrapper{
       text-align: center;
       margin-top: 550px;
       font-weight: 100;
    }
    
    .main_text-wrapper :nth-child(2) {
       margin-top: 20px;
    }
    .main_text-wrapper :nth-child(3) {
        margin-top: 5px;
     }
    
    .side_sentence{
     display: none;
     letter-spacing: 5px;
    }
    
    
    @media (min-width: 678px){
       .side_sentence{
          display: initial;
          position: fixed;
          left: 0;
          transform: rotate(-90deg);
        }
    }
    
    
    @media (max-height: 725px){
       .StyledHero{
          max-width: 200px;
          max-height: 220px;
       }
    
       .StyledImage{
          max-width: 270px;
          max-height: 345px;
       }
    
       .main_text-wrapper{
          margin-top: 450px;
       }
    }
    