.projects {
  max-width: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__project {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 100px;

      &--link {
        font-family: Tangerine;
        font-weight: 100;
        font-size: 150px;
        text-decoration: none;
        color: white;
      }

      p {
        visibility: hidden;
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    &__wrapper {
      &__project {
        margin: 100px 50px 50px 50px;

        &--link {
          font-size: 90px;
        }

        p {
          visibility: visible;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .projects {
    &__wrapper {
      &__project {
        margin: 150px 50px 50px 50px;

        &--link {
          font-size: 50px;
        }
      }
    }
  }
}
